/* Add this at the top */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

#root {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove padding to avoid overflow */
}

.container {
  height: 100%;
  width: 100%;
  background-color: burlywood;
  display: flex;

  flex-wrap: wrap;
}

.note-container {
  height: 200px;
  width: 250px;
  background-color: yellowgreen;
  margin-top: 15px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px;
}
.note-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.note-new {
  height: 200px;
  width: 250px;
  background-color: cornflowerblue;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

textarea {
  resize: none;
  padding: 10px;
}

textarea:focus {
  outline: none;

  border: none; /* Optional, use only if you don't want a border */
}

.note-footer button:focus {
  background-color: blue;
}
